.popup__submit-button {
    border: none;
    border-radius: 2px;
    margin: 48px 0 37px 0;
    padding: 14px 0 18px 0;
    color: white;
    background-color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    transition: .2s;

}

.popup__submit-button:hover{
    cursor:pointer;
    opacity:.6;
}

@media screen and (max-width: 680px) {
    .popup__submit-button {
        margin: 45px 0 25px 0;
        font-size: 14px;
        line-height: 17px;
    }
}
