.profile__avatar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: all .222s ease-in-out;
}

.profile__avatar:hover{
    cursor:pointer;
    opacity: 0.2;
}

