.element__like-button {
    margin: 0 0 0 22px;
    padding: 0;
    min-width: 22px;
    height: 19px;
    border: none;
    background-image: url("../../../images/bg-like-button.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s;
}

.element__like-button:hover{
    cursor:pointer;
    opacity:.5;
}

.element__like-button:active {
    background-image: url("../../../images/bg-like-button-active.svg");
}
